[submodule "libs/googletest"]
	path = libs/googletest
	url = https://github.com/google/googletest.git
[submodule "libs/libmath"]
	path = libs/libmath
	url = https://github.com/fiztexlabs/libmath.git
[submodule "libs/pybind11"]
	path = libs/pybind11
	url = https://github.com/pybind/pybind11.git
